.heroTokenomics h1 {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  letter-spacing: -1px;
  font-weight: bold;
}

.chartImg::before {
  content: "";
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00000010;
  border-radius: 100%;
  filter: blur(50px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

