.box_about {
  min-width: 22rem;
  width: 22rem;
  opacity: 0;
  position: relative;
  padding: 1.4rem 1.6rem;
}

.box_about::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.017);
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  z-index: -1 !important;
}

@media screen and (max-width: 1650px) {
  .box_about {
    min-width: 20rem;
    width: 20rem;
    padding: 1.4rem 1.6rem;
  }

  .contain_about {
    height: 35rem;
  }
}

@media screen and (max-width: 1500px) {
  .contain_about {
    height: 30rem;
  }

  .box_title_1_about {
    padding: 0;
  }
}

